body {
	margin: 0;
	padding: 0;
overflow-x: hidden;
}
* {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 15px;

}
a {
	text-decoration: none;
	color: #000000;
}
p {
	margin: 0 auto;
}
.container {
	max-width: 1400px;
	margin: 0 auto;
}
.header-top {
	display: flex;
	justify-content: space-between;
	padding-top: 25px;
}
.header-items {
	display: flex;
}
.item-list {
	list-style-type: none;
	padding-right: 20px;
	padding-left: 20px;
}
.item-list a {
	color: #000000;
}
.header-menu {
	display: flex;
	align-items: center;
}
.header-menu__text {
	padding-left: 10px;
	padding-right: 10px;
}
.active {
	color: #E51937!important;
	padding-bottom: 5px;
	border-bottom: 2px solid #E51937;
}
.header-main {
	padding-top: 60px;
	background-image: url(../img/Tesla-bg.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	height: 567px;

}
.header-main-title {
	text-align: center;
}
.header-main__title {
	font-size: 90px;
	font-weight: 600;
	margin-bottom: 0;
	margin-top: 0;
}
.header-main__text {
	font-size: 15px;
	font-weight: 500;
}
.header-main-img {
	margin-top: -500px;
	text-align: center;
}
.header-main-img img {
	max-width: 80%;
	padding-top: 100px;
}
.header-main-plus {
	display: flex;
	margin: 0 auto;
	width: 80%;
}
.header-main-wrapper {
	display: flex;
	align-items: center;
	
	justify-content: space-between;
}
.header-main-wrapper-2 {
	display: flex;
	align-items: center;
	
	justify-content: space-between;
}
.header-main-wrapper-p {
	display: flex;
}
.header-main-wrapper-p {
	font-size: 25px;
	font-weight: 600;
}
.header-main-wrapper-p span {
	display: flex;
	align-items: flex-end;
	padding-left: 5px;
	font-size: 20px;
}
.header-main-kilo {
	font-size: 12px;
	font-weight: 400;
}
.header-main-wrapper-img{
	padding-top: 3%;
}
.header-main-wrapper-img-wheel {
	padding-top: 3%;
}
.header-main-wrapper-text {
	padding-left: 10px;
	margin-right: 150px;
}
.speed-test {
	font-size: 15px;
	font-weight: 700;
}
.header-main-btn a {
	color: #E51937;
	font-size: 15px;
	font-weight: 700;
}
.header-main-btn {
	border: 2px solid #E51937;
	padding: 10px 40px;
}
.vector {
	text-align: center;
	padding-top: 40px;
}
.tesla-future {
	display: flex;
	height: 850px;
}
.tesla-future-left {
	flex: 70%;
	
	background-image: url(../img/2013-tesla-model-s-cockpit.png);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: contain;
}
.tesla-future-right {
	flex: 30%;
	background-color: #E51937;
	
}
.tesla-future-left-title {
	padding-top: 100px;
	padding-left: 100px;
}
.tesla-future-left-title p {
	font-size: 70px;
	font-weight: 700;
	color: #E51937;
}
.tesla-future-right__title {
	padding-top: 51px;
	padding-left: 52px;
	padding-right: 72px;
}
.tesla-future-right__title p {
	color: #fff;
	font-weight: 600;
	font-size: 20px;
}
.tesla-future-right__text {
	padding-top: 21px;
	padding-left: 52px;
	padding-right: 72px;
}
.tesla-future-right__text p {
	color: #fff;
	font-weight: 500;
	font-size: 15px;
}
.tesla-future-right__items {
	padding-top: 55px;
	padding-left: 52px;
	padding-right: 72px;
}
.right__items-wrapper {
	display: flex;
	padding-bottom: 35px;
	align-items: center;
}
.right__items-text {
	padding-left: 20px;
}
.right__items-text-2 {
	padding-left: 15px;
}
.right__items-17 {
	color: #fff;
	font-size: 35px;
	font-weight: 600;
}
.right__items-17 span {
	font-size: 20px;
}
.right__items-span {
	font-size: 20px;
	color: #fff;
}
.right__items-display {
	color: #fff;
	font-size: 12px;
	font-weight: 400;
}
.right-items-footer {
	display: flex;
	padding-top: 120px;
	justify-content: space-between;
	padding-left: 52px;
	padding-right: 30px;
}
.right-items-footer-2 {
	display: flex;
	padding-top: 0px;
	justify-content: space-between;
	padding-left: 52px;
	padding-right: 30px;
}
.right-items-footer-more {
	display: flex;
	align-items: center;
}
.right-items-footer-more p {
	color: #fff;
	padding-left: 10px;
}
.right-items-footer-more p a{
	color: #fff;	
	font-size: 13px;
	font-weight: 700;
}
.right-items-footer-btn {
	border: 2px solid #fff;
	padding: 10px 30px;
}
.right-items-footer-btn a{
	color: #fff;
	font-size: 13px;
	font-weight: 700;

}
.safe_car {
	display: flex;
	height: 850px;
}
.safe-mobile-car {
	padding-top: 50px;
	padding-bottom: 50px;
	display: none;
}
.safe-mobile-car img{
	width: 100%;
	
}
.safe-car-left {
	flex: 30%;
	background-color: #E51937;
}
.safe-car-right {
	flex: 70%;

}
.safe-car-left-wrapper {
	padding-top: 51px;
	padding-left: 56px;
	padding-right: 68px;
}
.safe-car-left-title p{
	color: #fff;
	font-size: 25px;
	font-weight: 600;
}
.safe-car-left-text {
	padding-top: 20px;
	
}
.safe-car-left-text p {
	font-size: 15px;
	font-weight: 500;
	color: #fff;
}
.safe-car-left-protection {
	padding-top: 48px;

}
.safe-car-left-protection p{
	font-size: 30px;
	font-weight: 600;
	color: #fff;
}
.safe-car-left-stars {
	padding-top: 30px;
}
.stars-wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	padding-bottom: 15px;
}
.stars-wrapper-text {
	display: flex;
}

.stars-wrapper-text p{
	font-size: 17px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;

}
.stars-wrapper-img {
	display: flex;
}
.stars-wrapper-img img {
	padding-right: 2px;
	padding-left: 2px;
}
.stoika {
	padding-left: 2px!important;
	color: #fff!important;
	font-size: 10px!important;
	font-weight: 500!important;
	display: flex;
	align-items: flex-end;
}
.safe-car-left-safety {
	display: flex;
	padding-top: 100px;
}
.safety-text {
	padding-left: 20px;
}
.safety-text p {
	color: #fff;
}
.stars-5 {
	font-size: 40px;
	font-weight: 600;
}
.safety-text-save {
	font-size: 20px;
	font-weight: 600;
}
.safe-car-right-img {
	margin-left: -100px;
	margin-top: 250px;
	position: relative;
	z-index: 1111;

}
.safe-car-for-mobile {
	width: 100%;
	height: 300px;
	background-image: url(../img/Car frame.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}
.safe-car-right-text {
	position: absolute;
	z-index: -999;
	margin-top: 120px;
	margin-left: 189px;
}
.safe-car-right-text p {
	color: #FDE8EB;
	font-size: 200px;
	font-weight: 600;
}
.poloska {
	position: absolute;
	z-index: 111111;
	top: 250px;
	margin-left: 164px;
}
.poloska-1 {
	position: absolute;
	z-index: 111111;
	top: 80px;
	margin-left: 25%;
}
.poloska-2 {
	position: absolute;
	z-index: 111111;
	top: 202px;
	margin-left: 443px;
}
.poloska-3 {
	position: absolute;
	z-index: 111111;
	top: 615px;
	margin-left: 498px;
}
.safe-car-text-1 {
	position: absolute;
	z-index: 111111;
	top: 250px;
	margin-left: 194px;
	font-size: 17px;
	font-weight: 600;

}
.safe-car-text-2 {
	position: absolute;
	z-index: 111111;
	top: 200px;
	margin-left: 460px;
	font-size: 17px;
	font-weight: 600;

}
.safe-car-text-3 {
	position: absolute;
	z-index: 111111;
	top: 695px;
	margin-left: 515px;
	font-size: 17px;
	font-weight: 600;

}
.section-second {
	position: relative;
}
.header-items-burg {
	display: none;
}
.red-header-main-wrapper-img {
	display: none;
}
@media (max-width: 1200px) {
	.header {
		margin-right: 10px;
		margin-left: 10px;
	}
	.header-items {
		display: none;
	}
	.header-items-burg {
		display: block;
		align-items: center;
	}
	.header-mobile-btn {
		height: 25px;
		width: 35px;
		background: transparent;
		border: none;
		border-top: 2px solid #E51937;
		border-bottom: 2px solid #E51937;
		position: relative;
	}
	.header-mobile-btn::before {
		content: '';
		position: absolute;
		width: 35px;
		height: 2px;
		top: 9px;
		left: 0;
		right: 0;
		background: #E51937;
	}
	.header-top {
		align-items: center;
	}
	.header-menu {
		display: none;
	}
	.header-items {
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		top: 100px;
		padding-left: 0;
		height: 100%;
		background-color: #fff;
		position: fixed;
		margin-top: -100px;
		padding-top: 100px;
		text-align: right;
		transform: translateX(-1500px);
		-webkit-box-shadow: -20px 10px 62px -10px rgba(0,0,0,0.66);
-moz-box-shadow: -20px 10px 62px -10px rgba(0,0,0,0.66);
box-shadow: -20px 10px 62px -10px rgba(0,0,0,0.66);
	margin-top: -120px;
		transition: 0.5s ease;
	}
	.item-list {
		padding-bottom: 30px;
	}
	.item-list a {
		font-size: 30px;

	}
	.header-items.header-items--active {
		transform: translateX(-150px);
	}
	.header-main__title{
		font-size: 70px;
	}
	.header-main__text {
		font-size: 17px;
	}
	.header-main-img {
		margin-top: -320px;
	}
	.header-main-img img {
		max-width: 100%;
	}
	.header-main {
		height: 350px;
	}
	.header-main-plus {
		margin-top: 50px;
		width: 100%;
		display: block;
	}
	.header-main-wrapper-text {
		margin-right: 70px;
	}
	.header-main-btn {
		background-color: #E51937;

	}
	.header-main-btn a {
		color: #fff;
	}
	.speed-test {
		color: #E51937;
	}
	.red-header-main-wrapper-img {
		display: block;
	}
	.header-main-wrapper-img-wheel {
		display: none;
	}
	.tesla-future {
		display: block;
		padding-top: 100px;
		height: 100%;
	}
	.tesla-future-left {
		width: 100%;
		height: 200px;
		background-size: 100%;
	}
	.tesla-future-left-title {
		display: none;
	}
	.safe-car-right {
		display:none;
	}
	.right-items-footer {
		padding-bottom: 30px
	}
	.safe-mobile-car {
		display: block;
	}
	.safe_car {
		height: 100%;
		
	}
	.safe-car-left {
		padding-bottom: 30px;
	}
	.mobile-car {
		position: relative;
	}
}
